{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">Acesso Restrito</h1>
            {% bootstrap_messages %}
            <div class="account-wall">
                <form class="form-signin" action="." method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
                    {% endbuttons %}
                </form>
            </div>
            <a href="{% url 'signup' %}" class="text-center new-account">Criar uma conta</a>
            <a href="{% url 'password_reset' %}" class="text-center new-account">Esqueceu sua senha?</a>

        </div>
    </div>

{% endblock content %}
