{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
  <h1 class="page-header">Todo</h1>
  <table class="table" id="todo-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Text</th>
        <th>created_at</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todo_list %}
        <tr>
          <td>{{ todo.id }}</td>
          <td>{{ todo.title }}</td>
          <td>{{ todo.text }}</td>
          <td>{{ todo.created_at }}</td>
        </tr>
        <li>
          <a href="{% url "todo_edit" todo.id %}" class="btn btn-warning">Edit</a>
          <a href="{% url "todo_delete" todo.id %}" class="btn btn-danger">Delete</a>
        </li>

      {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning">No Item</td>
        </tr>
      {% endfor %}
      <a href="{% url "todo_new" %}"class="btn btn-primary">New</a>
    </tbody>
  </table>
{% endblock %}
