
{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">Cadatrar Atividade</h1>
            {% bootstrap_messages %}
            <div class="account-wall">
                <form class="form-signin" action="." method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Cadastrar</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
