{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <h1>Itens</h1>
            <hr>
            {% include 'partials/add_button.html' with link='todo_add' %}

            {% bootstrap_messages %}
            <table id="todo" class="table table-hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Atividade</th>
                        <th>Data criada</th>
                        <th>Deadline</th>
                        <th>Prioridade</th>
                        <th>Completado</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.created_date }}</td>
                    <td>{{ todo.deadline }}</td>
                    <td>{{ todo.priority }}</td>
                    <td>{{ todo.completed }}</td>
                  </tr>
                  {% for todo in object_list %}
                    <tr>
                        <td>{{ todo.id }}</td>
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.created_date }}</td>
                        <td>{{ todo.deadline }}</td>
                        <td>{{ todo.priority }}</td>
                        <td>{{ todo.completed }}</td>
                        <td>
                          {% if request.user.is_authenticated %}
                            <a href="{% url 'todo_edit' todo.id %}" class="btn btn-primary btn-sm" role="button">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true" title="Editar"></span>
                            </a>
                            <a href="{% url 'todo_delete' todo.id %}" class="btn btn-primary btn-sm" role="button">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Deletar"></span>
                            </a>
                          {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="7" class="text-center bg-warning">Sem registros...</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div><!-- col-md-12 -->
    </div><!-- row -->

{% endblock %}

{% block extras_js %}
    <script type="text/javascript">
        $(".alert").show().delay(3000).fadeOut();
    </script>
{% endblock %}
